@use 'partials/variables.scss' as *;
@use 'partials/reset.scss' as *;
@use 'partials/mixins.scss' as *;
@use 'partials/utilities.scss' as *;


/* 
    GENERAL
*/


.container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

/* 
    APP
*/
main {
  text-align: center;
}

// BUTTONS

.yellow-button {
    background-color: $buttonColor;
    padding: 20px 15px;
    margin: 0 15px;
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: $backgroundColor;
    }
} 



.white-button {
    border: 2px solid white;
    background-color: transparent;
    margin: 0 15px;
    padding: 20px 15px;
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: $buttonColor;
        border: transparent;
        padding: 22px 15px;
    }    
}

.orange-button {
    background-color: $backgroundColor;
    padding: 20px 15px;
    margin: 0 15px;
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: $buttonColor;
    }
}

.text-button {
    color: white;
}

.email-button, .search-button {
    position: absolute;
    top: -2px;
    right: -20px;
}

.social-button {
    background: transparent;
    border: 2px solid $buttonColor;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    transition: background-color .3s ease-in-out;

    &:hover {
        background-color: $buttonColor;
    }
}

.logo-button {
    background: transparent;
    border: 1px solid white;
    border-radius: 30px;
    width: auto;
    height: 15px;
    transition: background-color .3s ease-in-out;
    text-transform: uppercase;
    font-size: 12px;

    &:hover {
        background-color: $buttonColor;
    }
}
// FACULTY BOX IMAGES

.single-box {
    border: 1px solid rgba(160, 160, 160, 0.281);
    cursor: pointer;
}

.faculty-image {
    max-height: 100px;
    opacity: .9;
}
  
.orange-text {
    color: $backgroundColor !important;
    opacity: .9;
}

.yellow-text {
    color: $buttonColor !important;
}