@use 'partials/variables.scss' as *;
@use 'partials/reset.scss' as *;
@use 'partials/mixins.scss' as *;


/* 
    GENERAL
*/


.container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

/* 
    APP
*/
main {
  text-align: center;
}