@use 'partials/variables.scss' as *;
@use 'partials/reset.scss' as *;
@use 'partials/mixins.scss' as *;
@use 'partials/utilities.scss' as *;


/* 
    GENERAL
*/


.container {
    max-width: 1000px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

/* 
    APP
*/
main {
  text-align: center;
}

// BUTTONS

.yellow-button {
    background-color: $buttonColor;
    padding: 20px 15px;
    margin: 0 15px;
} 

.white-button {
    border: 2px solid white;
    background-color: transparent;
    margin: 0 15px;
    padding: 20px 15px;
}

.orange-button {
    background-color: $backgroundColor;
    padding: 20px 15px;
    margin: 0 15px;
}

.email-button {
    position: absolute;
    top: -5px;
    right: -25px;
}
// FACULTY BOX IMAGES

.single-box {
    border: 1px solid rgba(160, 160, 160, 0.281);
    cursor: pointer;
}

.faculty-image {
    max-height: 100px;
    opacity: .9;
}
  
.orange-text {
    color: $backgroundColor;
    opacity: .9;
}