@use 'variables' as *;

@mixin flexCentered {
    display: flex;
    align-items: center;
}

@mixin navbarLinkStyle {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

@mixin roundedButton {
    border: none;
    box-shadow: none;
    padding: 20px 45px;
    border-radius: 30px;
}