@use 'variables.scss' as *;

// ************************ OPACITY ************************

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: .1;
}

.opacity-2 {
    opacity: .2;
}

.opacity-3 {
    opacity: .3;
}

.opacity-4 {
    opacity: .4;
}

.opacity-5 {
    opacity: .5;
}

.opacity-6 {
    opacity: .6;
}

.opacity-7 {
    opacity: .7;
}

.opacity-8 {
    opacity: .8;
}

.opacity-9 {
    opacity: .9;
}

// ************************ TEXT-COLOR ************************

.font-size-8 {
    font-size: 8px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-34 {
    font-size: 34px;
}

.font-size-36 {
    font-size: 36px;
}

.font-size-38 {
    font-size: 38px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-44 {
    font-size: 44px;
}

.font-size-48 {
    font-size: 48px;
}

.font-size-52 {
    font-size: 52px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-72 {
    font-size: 72px;
}

.font-size-84 {
    font-size: 84px;
}

// ************************ TEXT-ALIGN ************************

.text-align-start {
    text-align: start;
}

.text-align-center {
    text-align: center;
}

.text-align-end {
    text-align: end;
}

.text-align-justify {
    text-align: justify;
}

//  ************************ FONT-WEIGHT ************************

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}